<div class="dhx_cal_tab" name="unit_tab" style="right:360px;"></div>
<div class="dhx_cal_tab" name="timeline_tab" style="right:280px;"></div>
<div class="dhx_cal_tab" name="timeline2_tab" style="right:280px;"></div>