<div id="scheduler_here" class="dhx_cal_container" style='width:1600px; height:1200px; margin-left: 30px;'>
  <div class="dhx_cal_navline">
    <div class="dhx_cal_prev_button">&nbsp;</div>
    <div class="dhx_cal_next_button">&nbsp;</div>
    <div class="dhx_cal_today_button"></div>
    <div class="dhx_cal_date"></div>

    <%= render 'shared/month_calendar' %>
    <%= render 'shared/timeline_calendar' %>

    <div class="dhx_cal_date"></div>
    <div class="dhx_minical_icon" id="dhx_minical_icon" onclick="show_minical()">&nbsp;</div>
  </div>
  <div class="dhx_cal_header"></div>
  <div class="dhx_cal_data"></div> 
</div>
<%= render 'shared/holiday_calendar' %>