.dhx_scheduler_month .dhx_marked_timespan.dhx_now_time {
	display: none;
}

.dhx_scheduler_month .dhx_marked_timespan {
	display: block;
}

.grey_section {
	background-color:#63E16D;
}

.green_section {
	background-color:#12E316;
}

.dhx_cal_event_clear, .dhx_cal_event_line {
	z-index: 1;
}

.dhx_data_table.folder .dhx_matrix_cell {
  background-color:#63E16D;
}

.dhx_matrix_scell.folder {
	background-color:#FBFF54;
}

/* Coloring Standart Events */

.dhx_cal_event div.dhx_footer,
.dhx_cal_event.past_event div.dhx_footer,
.dhx_cal_event.event_other_absences div.dhx_footer,
.dhx_cal_event.event_sickness div.dhx_footer,
.dhx_cal_event.event_vacation div.dhx_footer,
.dhx_cal_event.event_out_of_office div.dhx_footer,
.dhx_cal_event.event_seminars div.dhx_footer {
	background-color: transparent !important;
}

.dhx_cal_event .dhx_body {
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	opacity: 0.7;
}

.dhx_cal_event .dhx_title {
	line-height: 12px;
}

.dhx_cal_event_line:hover,
.dhx_cal_event:hover .dhx_body,
.dhx_cal_event.selected .dhx_body,
.dhx_cal_event.dhx_cal_select_menu .dhx_body {
	opacity: 1;
}

.dhx_cal_event.event_O div, .dhx_cal_event_line.event_O {
	background-color: orange !important;
	border-color: #a36800 !important;
}

.dhx_cal_event_clear.event_O {
	color:orange !important;
}

.dhx_cal_event.event_C div, .dhx_cal_event_line.event_C {
	background-color: #36BD14 !important;
	border-color: #698490 !important;
}

.dhx_cal_event_clear.event_C {
	color: #36BD14 !important;
}

.dhx_cal_event.event_R div, .dhx_cal_event_line.event_R {
	background-color: #FC5BD5 !important;
	border-color: #839595 !important;
}

.dhx_cal_event_clear.event_R {
	color: #B82594 !important;
}

.dhx_cal_event.event_S div, .dhx_cal_event_line.event_S {
	background-color: #835E54 !important;
	border-color: #835E54 !important;
}

.dhx_cal_event_clear.event_S {
	color: #835E54 !important;
}

.dhx_cal_event.event_V div, .dhx_cal_event_line.event_V {
	background-color: #39FFE0 !important;
	border-color: #39FFE0 !important;
}

.dhx_cal_event_clear.event_V {
	color: #39FFE0 !important;
}

.dhx_cal_event.event_Holiday div, .dhx_cal_event_line.event_Holiday {
	background-color: #FF4A1B !important;
	border-color: #FF4A1B !important;
	text-align: center;
	/*font-size: 24px; */
	opacity: 0.8;
	color: #e2b8ac !important;
}

.dhx_cal_event_clear.event_Holiday {
	background-color: #fadcd3 !important;
}

.holiday {
  background-color: #fadcd3;
	text-align: center;
	/*font-size: 24px; */
	opacity: 0.8;
	color: #e2b8ac;
}